body {
  width: 300px;
  padding: 20px;
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.percentageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.percentage {
  font-weight: bold;
  font-size: 24px;
}

.sliderContainer p {
  font-weight: bold;
  font-size: 24px;
}
